<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @todo.description %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @todo.user_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @todo.estate? ? "In process" : "Finish"  %>
</p>

<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
